{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
sudo pacman -Syy && sudo pacman -S which ripgrep git neovim fish age bat archey3 starship thefuck fasd ruby gnome-keyring rustup --noconfirm
curl https://raw.githubusercontent.com/oh-my-fish/oh-my-fish/master/bin/install | fish -c 'source - --noninteractive --yes'
fish -c "omf install"
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.7/install.sh | bash
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
# Install everything declared in the chezmoi-managed Brewfile (taps, formulae, casks).
# Read from the chezmoi source dir, NOT ~/Brewfile: chezmoi may run this run_once
# script before it materializes the root-level Brewfile into $HOME, so $HOME/Brewfile
# is not guaranteed to exist yet (that race caused brew's "No Brewfile found").
# Regenerate from a live machine with:  brew bundle dump --file="$HOME/.local/share/chezmoi/Brewfile" --force
brew bundle --file="{{ .chezmoi.sourceDir }}/Brewfile"
{{ end -}}
