{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo pacman -Syy && sudo pacman -S ripgrep git --noconfirm
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
cat ../darwin_packages.txt | awk '{print $1}' | tr -d ':' | xargs brew install
{{ end -}}
