{{- $email := "" -}}
{{- if (hasKey . "email") -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = promptString "email" -}}
{{- end -}}

[data]
  email = {{ $email | quote }}
  name = "Daniel Pendolino"
  github_handle = "dpendolino-ibotta"
  {{- if eq .chezmoi.hostname "RedDwarf" }}
  reddwarfborgpassphrase = {{ (bitwarden "item" "RedDwarf Borg Passphrase").login.password | quote }}
  gitsignkey = "E1E86874BF7C1E0398A8507414F0F811CEFBA1D9"
  {{- end }}
  {{- if eq .chezmoi.hostname "prometheus" }}
  gitsignkey = "E1E86874BF7C1E0398A8507414F0F811CEFBA1D9"
  {{- end }}
  {{- if eq .chezmoi.hostname "MACBOOKPRO-GX2KLQW3FG" }}
  gitsignkey = "4E8FE62AD9FBF2D8B0C1061C8E81724987683836"
  {{- end }}
encryption = "age"
[age]
  identity = "{{- .chezmoi.homeDir }}/key.txt"
  recipients = [
    "age1sw3lgl3wrycg0fkdgrmr4rtadxs4vxfhyy65q0ywhrr7aeeygf7qj0fzcv", # MacBook
    "age1h2fuyd6tgpfm44tke8h3jl8lxevmmz6elwv2nzdr04x8nxft2sqqn4vdtk", # RedDwarf
    "age1tky7auntxlxkeqcvj6d35w4hw696dq3ma444t3rmppc5ax5uqf2q3q5tx3", # Prometheus
  ]
