#! /bin/bash

# PS4='+ $(date "+%s.%N")\011 '
# exec 3>&2 2>/tmp/bashstart.$$.log
# set -x

{{ if eq .chezmoi.os "darwin" -}}
export SHELL=/bin/bash

{{ end -}}
# If not running interactively, don't do anything
[[ $- != *i* ]] && return

# Load profiles from /etc/profile.d
if test -d /etc/profile.d/; then
        for profile in /etc/profile.d/*.sh; do
                test -r "$profile" && . "$profile"
        done
        for profile in /etc/profile.d/*.bash; do
                test -r "$profile" && . "$profile"
        done
        unset profile
fi

# Set initial PS1
PS1='[\u@\h \W]\$ '

# If not running interactively, don't do anything
[ -z "$PS1" ] && return

# don't put duplicate lines in the history. See bash(1) for more options
# ... or force ignoredups and ignorespace
HISTCONTROL=ignoredups:ignorespace
#HISTCONTROL=ignoreboth:erasedups

# append to the history file, don't overwrite it
shopt -s histappend

#append timestamp to bash_history
HISTTIMEFORMAT="%F %T "

# aggregate all commands executed
# PROMPT_COMMAND='history -n;history -a'
PROMPT_COMMAND='history -a'

# for setting history length see HISTSIZE and HISTFILESIZE in bash(1)
HISTSIZE=
HISTFILESIZE=

# Change the file location because certain bash sessions truncate .bash_history file upon close.
# http://superuser.com/questions/575479/bash-history-truncated-to-500-lines-on-each-login
export HISTFILE=~/.bash_eternal_history

# check the window size after each command and, if necessary,
# update the values of LINES and COLUMNS.
shopt -s checkwinsize

# make less more friendly for non-text input files, see lesspipe(1)
[ -x /usr/bin/lesspipe ] && eval "$(SHELL=/bin/sh lesspipe)"

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
  test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
  alias ls='ls --color=auto'
  alias dir='dir --color=auto'
  alias vdir='vdir --color=auto'
  alias grep='grep --color=auto'
  alias fgrep='fgrep --color=auto'
  alias egrep='egrep --color=auto'
fi

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias pgrep='pgrep -l'
alias termsize='echo $COLUMNS x $LINES'
alias dmesg='dmesg -T'
alias rm='rm -I'

# Alias definitions.
# You may want to put all your additions into a separate file like
# ~/.bash_aliases, instead of adding them here directly.
# See /usr/share/doc/bash-doc/examples in the bash-doc package.
if [ -f ~/.bash_aliases ]; then
  . ~/.bash_aliases
fi

# enable programmable completion features (you don't need to enable
# this, if it's already enabled in /etc/bash.bashrc and /etc/profile
# sources /etc/bash.bashrc).
if [ -f /etc/bash_completion ] && ! shopt -oq posix; then
  . /etc/bash_completion
fi

# Tab complete ssh
#if [ -f ~/.ssh/config ];then
#    complete -o default -W "`grep -iE "\bhost\b" ~/.ssh/config | awk '{print $2 \" \" $3 \" \" $4 \" \" $5}'`" ssh scp sftp
#fi

#http://seejeffrun.blogspot.com/2008/08/error-handling-again.html
warn() { printf "$* at line %s file %s: $msg\n" "$(caller)" 1>&2 ; }
die() { printf "$* at line %s file %s: $msg\n" "$(caller)" 1>&2 ; exit -1; }

if [ -f /usr/bin/ruby ];then
    export PATH=$PATH:$(ruby -r rubygems -e "puts Gem.user_dir")/bin
fi

export EDITOR=vim
export VISUAL=vim

if [ -f /usr/bin/archey3 ];then
    timeout 1 archey3
fi

if [ -d $HOME/.bash-completion.d/ ];then
    for i in $HOME/.bash-completion.d/*;do source $i;done
fi

#http://superuser.com/questions/249293/rename-tmux-window-name-to-prompt-command-ps1-or-remote-ssh-hostname
settitle() {
  printf "\033k$1\033\\"
}
ssh() {
  settitle "$*"
  command ssh "$@"
  settitle "bash"
}
mosh() {
  settitle "$*"
  command mosh "$@"
  settitle "bash"
}

{{ if eq .chezmoi.os "linux" -}}
. /usr/share/fzf/key-bindings.bash
. /usr/share/fzf/completion.bash
{{ else -}}
#. /usr/share/fzf/key-bindings.bash
#. /usr/share/fzf/completion.bash
{{ end -}}

# Set terminal title to $PWD
PROMPT_COMMAND='echo -ne "\033]0;${PWD}\007"'

POWERLINE_BASH_CONFIG=$(find /usr/lib/python3*/site-packages/powerline/bindings/bash/ -name powerline.sh 2> /dev/null)

if [ -f $(which starship)  ];then
  eval "$(starship init bash)"
elif [ -f  "$POWERLINE_BASH_CONFIG"  ];then
    powerline-daemon -q
    POWERLINE_BASH_CONTINUATION=1
    POWERLINE_BASH_SELECT=1
    . "$POWERLINE_BASH_CONFIG"
else
    export PS1="\u@\h:\w\\$ "
fi

export NODE_PATH="/usr/lib/node_modules"

# https://github.com/dschep/ntfy
if [ -f /usr/bin/ntfy ];then
    eval "$(ntfy shell-integration)"
    export AUTO_NTFY_DONE_IGNORE="vim screen meld"
fi
export GOPATH=$HOME/go
export PATH=$PATH:$GOPATH/bin

if [ "$XDG_SESSION_TYPE" = "wayland" ]; then
    xhost +si:localuser:root &> /dev/null
fi

if [ -f /usr/bin/kubectl ];then
    source <(kubectl completion bash)
fi

# add node_modules to path
export PATH=$HOME/node_modules/.bin:$PATH

[ -f ~/.fzf.bash ] && source ~/.fzf.bash

eval $(thefuck --alias)

# source FASD
source <(fasd --init auto)
_fasd_bash_hook_cmd_complete v m j o

# Tab complete ssh
complete -o default -W "`grep -iE "\bhost\b" ~/.ssh/config | awk '{print $2 \" \" $3 \" \" $4 \" \" $5}'`" ssh scp sftp

# add user base to python path
export PYTHONPATH=$(python3 -c "import site, os; print(os.path.join(site.USER_BASE, 'lib', 'python', 'site-packages'))"):$PYTHONPATH

# add .local/bin to path
export PATH=~/.local/bin:$PATH

# rust
#. <(rustup completions bash cargo)
#. <(rustup completions bash rustup)
export PATH=$HOME/.cargo/bin:$PATH

{{ if eq .chezmoi.os "darwin" -}}
# asdf
if [ -f $HOME/.asdf/asdf.sh ]; then
  . $HOME/.asdf/asdf.sh
  . $HOME/.asdf/completions/asdf.bash
fi
. $(brew --prefix asdf)/libexec/asdf.sh
. $(brew --prefix asdf)/etc/bash_completion.d/asdf.bash

. ~/.bash_profile

[[ -r "/opt/homebrew/etc/profile.d/bash_completion.sh" ]] && . "/opt/homebrew/etc/profile.d/bash_completion.sh"

{{ end -}}
# Add RVM to PATH for scripting. Make sure this is the last PATH variable change.
export PATH="$PATH:$HOME/.rvm/bin"

netshoot () {
	kubectl --context ${1} run tmp-shell --rm -i --tty --image nicolaka/netshoot -- /bin/bash
}

# private util functions helpful for k8s work
function count-k8s-services() {
  (cd ${HOME}/build/github/ibex/
  # for cluster1 in $(find clusters/ -mindepth 4 -type d -exec basename '{}' \;); do
  for cluster1 in $(./ibex -c list-clusters -j 2>/dev/null | jq -r '.'); do
  echo "${cluster1}: $(kubectl --context ${cluster1} get rollout -A -oname \
   | grep -v paved-road | wc -l)"; done
  )
}

function list-k8s-clusters() {
  (cd ${HOME}/build/github/ibex/
  ./ibex -a list-clusters # -j 2>/dev/null | jq -r '.'
  )
}

function acct() {
  local filter
  filter="$(command -v fzf)"
  if [[ ${filter} != "" ]]; then
    if [[ $# != 0 ]]; then
      filter="${filter} --filter \"$@\""
    fi
  else
    filter="cat"
    if [[ $# != 0 ]]; then
      filter="grep \"$@\""
    fi
  fi
  grep "granted_sso_account_id.*= .*" ~/.aws/config -B3 |
    awk '{
      ORS=""
      if($0 ~ /^\[profile/) {
        split($2, prof, ":")
        print prof[1]
        print " "
      }
      if($0 ~ /granted_sso_account_id/) {
        print $3
        print"\n"
      }
    }' |
    sort -u |
    column -t |
    eval "${filter}"
}

function map-cluster-to-env() {
  ( cd ${HOME}/build/github/ibex/
  ./ibex -c ${1} -a cluster-info -j 2>/dev/null | jq -r '.env'
  )
}
function map-cluster-to-path() {
  ( cd ${HOME}/build/github/ibex/
  ./ibex -c ${1} -a cluster-info -j 2>/dev/null | jq -r '.config_dir'
  )
}
function map-cluster-to-profile() {
  ( cd ${HOME}/build/github/ibex/
  ./ibex -c ${1} -a cluster-info -j 2>/dev/null | jq -r '.aws_profile' | sed 's/Admin$//g'
  )
}
function map-cluster-to-account-id() {
  (cd ${HOME}/build/github/ibex/
  ./ibex -c ${1} -a cluster-info -j 2>/dev/null | jq -r '.account_number'
  )
}
function map-cluster-to-cidr() {
  case ${1} in
    apollo) echo "10.192.0.0/17" ;;
    c10) echo "10.192.225.0/17" ;;
    *)
      (cd ${HOME}/build/github/ibex/
      ./ibex -c ${1} -a cluster-info -j 2>/dev/null | jq -r '.vpc_cidr'
      # find ~/build/github/ibex/clusters/**/**/**/${1}/config.yaml -exec grep cidr: '{}' \; | awk '{print $2}' | sort -u ;
      )
  esac
}
function map-host-to-profile() {
  eval "map-cluster-to-profile $(map-host-to-cluster ${1})"
}
function map-host-to-cluster() {
  local ip1=${1}
  local item1 cidr1 name1
  if [[ ${ip1} =~ ^ip- ]]; then
    # first convert ip-1-2-3-4.ec2.internal to IP
    ip1="$(echo ${ip1%%.*} | sed -e 's/ip-//' -e 's/-/./g')"
  fi
  # Validate IP address format
  if [[ ! ${ip1} =~ ^[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}$ ]]; then
    echo "Invalid IP address format"
    return 1
  fi

  # first, handle special case where 2 clusters have the same vpc_cidr
  if [[ ${ip1} =~ ^10.192. ]]; then
    if [[ ${1} =~ (.234.|.235.|236.|-234-|-235|-236-) ]]; then
      echo "c10"
      return
    else
      echo "apollo"
      return
    fi
  else
    for item1 in $(./ibex -a list-clusters -j 2>/dev/null \
     | jq -r '.[] | .name + ":" + .vpc_cidr'); do
      name1="$(echo ${item1} | cut -d: -f1)"
      cidr1="$(echo ${item1} | cut -d: -f2)"

      if nmap -sL -n ${cidr1} | grep -q ${ip1} ; then
        echo ${name1}
        return
      fi
    done
    echo "Error: Unable to match IP to cluster"
    exit 1
  fi
}

{{ if eq .chezmoi.os "darwin" -}}
export GITHUB_APP_PRIVATE_KEY_PATH="$HOME/.ssh/github-app/sox-scripts-app.pem"
{{ end -}}
