# This is Git's per-user configuration file.
[user]
  # Please adapt and uncomment the following lines:
  name = Daniel Pendolino
  email = {{ .email }}
  signingkey = {{ .gitsignkey }}
[core]
  editor = nvim
  pager = delta
[merge]
  tool = nvimdiff
  conflictstyle = diff3
[diff]
  tool = nvimdiff
  conflictstyle = diff3
  colorMoved = default
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
  prompt = true
[color]
  ui = auto
[submodule]
  recurse = true
[commit]
  sig = 65BD25EB
  gpgsign = true
[alias]
  root = !pwd
  edit = !$EDITOR $(git status --porcelain | awk '{print $2}')
[pull]
  rebase = false
[push]
	autoSetupRemote = true
[github]
  user = {{ .github_handle }}
[url "git@github.com:"]
  pushInsteadOf = https://github.com/
  pushInsteadOf = git://github.com/
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[interactive]
    diffFilter = delta --color-only
