# This is Git's per-user configuration file.
[user]
  # Please adapt and uncomment the following lines:
  name = Daniel Pendolino
  email = {{ .email }}
  {{ if hasKey . "gitsignkey" -}}
  signingkey = {{ .gitsignkey }}
  {{- end }}
[core]
  editor = nvim
{{- if eq .chezmoi.os "darwin" }}
  pager = delta
{{- end }}
[merge]
  tool = nvimdiff
  conflictstyle = diff3
[diff]
  tool = nvimdiff
  conflictstyle = diff3
  colorMoved = default
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
  prompt = true
[color]
  ui = auto
[submodule]
  recurse = true
[commit]
  sig = 65BD25EB
{{- if hasKey . "gitsignkey" }}
  gpgsign = true
{{- end }}
[alias]
  root = !pwd
  edit = !$EDITOR $(git status --porcelain | awk '{print $2}')
  ffogh = !$open https://github.com/$(git rev-parse --show-prefix)
[pull]
  rebase = false
[github]
  {{ if hasKey . "githubuser" -}}
  user = {{ .githubuser }}
  {{- end }}
[url "git@github.com:"]
  pushInsteadOf = https://github.com/
  pushInsteadOf = git://github.com/
[push]
  autoSetupRemote = true
{{- if eq .chezmoi.os "darwin" }}
[delta]
  navigate = true
  light = false
[interactive]
  diffFilter = delta --color-only
[credential "https://github.com"]
  helper =
  helper = !gh auth git-credential
[credential "https://gist.github.com"]
  helper =
  helper = !gh auth git-credential
{{- end }}
