{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
yay -Syy && yay -S ripgrep git
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
cat darwin_packages.txt | awk '{print $1}' | tr -d ':' | xargs brew install
{{ end -}}
if [ -f ~/.config/nvim ];then
  mv ~/.config/nvim ~/.config/NVIM.BAK
fi
git clone https://github.com/NvChad/NvChad ~/.config/nvim --depth 1
nvim +'hi NormalFloat guibg=#1e222a' +PackerSync
