snippet deprecated "deprecated banner"
##############################################################################
#
#                             DEPRECATED!!!
#
##############################################################################
endsnippet

snippet pylint "insert pylint disable comment"
# pylint: disable=${1:invalid-name}
endsnippet
