{{ if eq .chezmoi.os "darwin" -}}
# set homebrew path
/opt/homebrew/bin/brew shellenv | source

fish_add_path /usr/local/bin
fish_add_path --path /opt/homebrew/bin
fish_add_path /opt/homebrew/lib/ruby/gems/3.0.0/bin

source ("/opt/homebrew/bin/starship" init fish --print-full-init | psub)

# Use GCC
set -x CC /opt/homebrew/bin/gcc-11

# alias python to python3
alias python='python3'

# alias vim to nvim
alias vim='nvim'

{{ else if eq .chezmoi.os "linux" -}}

if type -q bass
  bass source /etc/profile
end

if type -q starship
  starship init fish | source
end

if type -q gnome-keyring-daemon
  # Set SSH to use Gnome keyring
  set -gx SSH_AUTH_SOCK (gnome-keyring-daemon --start --components=pkcs11,secrets,ssh-agent --control-directory=/run/user/(id -u)/keyring | grep "^SSH_AUTH_SOCK" | awk -F "=" '{print $2}')
end

if type -q archey3
  function fish_greeting
    archey3
  end
end

# https://gitlab.gnome.org/GNOME/gnome-keyring/-/issues/28
set -x XDG_RUNTIME_DIR /run/user/(id -u $USER)

# gem path
set -x GEM_HOME (ruby -e 'puts Gem.user_dir')
set -x PATH $PATH "$GEM_HOME/bin"

{{- end }}

set -x PATH $PATH $HOME/.cargo/bin/

thefuck --alias oops | source

# set the workspace path
set -x GOPATH $HOME/go

# add the go bin path to be able to execute our programs
set -x PATH $PATH /usr/local/go/bin $GOPATH/bin

# add ~/bin to path
set -x PATH $PATH $HOME/.local/bin
set -x PATH $PATH $HOME/bin
set -x PATH $PATH $HOME/.cargo/bin/

if type -q fzf
  alias sshf="ssh (rg -i 'Host ' $HOME/.ssh/config | awk '{print $2}' | fzf)"
end

if type -q bat
  alias cat="bat"
  alias ccat="bat"
end

# Global Packer cache
set -x PACKER_CACHE_DIR $HOME/packer_cache

set -x LANG en_US.UTF-8

# npm bin path
set -x PATH $PATH $HOME/node_modules/.bin

# ripgrep config file
set -x RIPGREP_CONFIG_PATH $HOME/.ripgreprc

{{- if eq .chezmoi.hostname "prometheus" }}
# pick correct vulkan driver
set -x VK_ICD_FILENAMES /usr/share/vulkan/icd.d/amd_icd64.json:/usr/share/vulkan/icd.d/amd_icd32.json
{{- end }}

set -x EDITOR nvim
set -x VISUAL nvim

# Add RVM to PATH for scripting. Make sure this is the last PATH variable change.
set -x PATH $PATH $HOME/.rvm/bin

# disable welcome
set fish_greeting

# You must call it on initialization or listening to directory switching won't work
load_nvm &>/dev/null
